.wrapBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sliderContainer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  .swiperContainer {
    display: flex;
    align-items: center;
  }
}

.swiperContainer {
  width: 100%;
  max-width: 100%;

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: #fff;
    font-weight: 700;
    border-radius: 2.5rem;
    background-color: oklch(0 0 0 / 0.3);
    width: 2.5rem;
    height: 2.5rem;
    padding: 1.5rem;
    margin: 0;
    top: unset;

    &:after {
      font-size: 1.5rem;
    }
  }
}

.wrap {
  width: auto;
  height: 112px;
  border: 2px solid transparent;
  background-color: #fbfaf8;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;

  &.hubImg {
    border: none;
  }

  &.active {
    border: 2px solid #000000;
  }

  .thumbnail {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.lightboxIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .wrap {
    height: 9rem;
  }
  .swiperContainer {
    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
      display: none;
    }
  }
}
